
<mat-sidenav-container>
  <mat-sidenav mode="push" [(opened)]="opened">Sidnav</mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid" style="padding: 50px; align-content: space-around;">
    <button type="button" (click)="opened=!opened" class="btn btn-primary btn-lg">togelle open</button>
    <button type="button" (click)="opened=!opened" class="btn btn-primary btn-lg">togelle open</button>
    <button type="button" (click)="opened=!opened" class="btn btn-primary btn-lg">togelle open</button>
    <button type="button" (click)="opened=!opened" class="btn btn-primary btn-lg">togelle open</button>
    <button type="button" (click)="opened=!opened" class="btn btn-primary btn-lg">togelle open</button>
    
  </div>
  <div class="container-fluid" style="padding: 50px;">
    
    <div class="container-fluid " style="margin: 20px; display: flex; background-color: aliceblue; justify-content: center;"><pagination-controls  class="my-pagination" (pageChange)="p = $event"></pagination-controls></div>
    <table class="table table-success table-striped" >
      <thead>
        <tr >
          <th >Name</th>
          <th >Email</th>
          <th >Phone Number</th>
         </thead>
         <tbody>
          <tr *ngFor="let Employee of employees | paginate: { itemsPerPage: 20, currentPage: p }">
            <td>{{Employee.name}}</td>
            <td>{{Employee.email}}</td>
            <td>{{Employee.phone}}</td>
           </tr>
         </tbody>
    
    
    </table>
  </div>
  
  </mat-sidenav-content>
  
</mat-sidenav-container>


